@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap");
body {
  font-family: "Manrope", sans-serif;
}

#footer {
  padding: 100px 0;
  border-top: 1px solid #000;
  width: 1180px;
  margin: 0 auto;
  .inner {
    p {
      font-size: 11px;
      color: #515151;
      font-weight: bold;
      text-align: right;
      padding-top: 30px;
    }
  }
  .wrap01 {
    float: left;
    margin-left: 150px;
    ul {
      li {
        float: left;
        width: 33.3%;
        a {
          display: block;
          font-size: 11px;
          line-height: 30px;
          color: #515151;
          font-weight: bold;
        }
      }
      &::after {
        content: "";
        display: block;
        clear: both;
      }
    }
    &::after {
      content: "";
      display: block;
      clear: both;
    }
  }
  .wrap03 {
    text-align: center;
    .snsIcon {
      &::after {
        display: block;
        content: "";
        clear: both;
      }
      ul {
        float: right;
        li {
          float: left;
          margin-right: 10px;
          a {
            color: #292929;
          }
          &:last-child {
            margin-right: 0;
          }
        }
        &::after {
          display: block;
          content: "";
          clear: both;
        }
      }
    }
  }

  &::after {
    content: "";
    display: block;
    clear: both;
  }
  h1 {
    margin-bottom: 42px;
    font-size: 23px;
    float: left;
    color: #121212;
  }
  .hide {
    display: none;
  }
}

@media screen and (max-width: 739px) {
  #footer {
    width: 100%;
    .inner {
      width: 100%;
      h1 {
        float: none;
      }
      .wrap01 {
        float: none;
        margin-left: 0;
        ul {
          li {
            width: 50%;
            a {
              font-size: 9px;
            }
          }
        }
      }
      p {
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 479px) {
  #footer {
    width: 100%;
    .inner {
      width: 100%;
      p {
        text-align: left;
        color: red;
      }
    }
  }
}
