body {
  white-space: pre-wrap;
}
.visual {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  .inner {
    width: 1180px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    &::after {
      clear: both;
      display: block;
      content: "";
    }
    p {
      font-size: 45px;
      color: #000;
      letter-spacing: 2px;
      margin-bottom: 15px;
      a {
        font-size: 45px;
        color: #000;
        margin-bottom: 15px;
        border-bottom: 2px solid #bbb;
        transition: border-bottom-color 0.3s;
        &:hover {
          border-bottom: 2px solid #121212;
        }
      }
    }
    .visual_img {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: -11vw;
      width: 700px;
      height: 660px;
      img {
        opacity: 0.5;
        transition: opacity 0.5s ease;
        width: 100%;
        height: 100%;
        object-fit: cover;
        &:hover {
          opacity: 1;
        }
      }
      .img_info {
        opacity: 1;
        em {
          font-size: 12px;
        }
        a {
          font-size: 11px;
          font-weight: bold;
          color: #666;
          display: block;
          text-decoration-line: underline;
          margin-top: 8px;
        }
      }
    }
  }
}
.contents_about {
  width: 100%;
  .inner {
    width: 1180px;
    margin: 120px auto;
    .wrap01 {
      padding: 100px 0 0;
      h2 {
        font-size: 40px;
        color: #000;
        line-height: 45px;
        padding-bottom: 20px;
        margin-bottom: 20px;
        font-weight: normal;
        border-bottom: 1px solid #000;
      }
      article {
        margin-left: 15px;

        float: left;
        width: calc(50% - 15px);
        .pic {
          width: 100%;
          height: 100%;
          opacity: 0.5;
          transition: opacity 0.5s ease;
          p {
            font-size: 10px;
            padding-bottom: 10px;
          }
          span {
            display: block;
            padding-bottom: 45px;
            font-size: 14px;
          }
          img {
            width: 100%;
            height: 100%;
            margin-bottom: 15px;
            object-fit: cover;
          }
          &:hover {
            opacity: 1;
          }
        }
      }
      .wrap02 {
        margin-left: 220px;
        border-bottom: 1px solid #000;
        &::after {
          content: "";
          clear: both;
          display: block;
        }
      }
      .btn_see {
        font-size: 11px;
        font-weight: bold;
        margin-left: 220px;
        color: #666;
        display: block;
        text-decoration-line: underline;
        margin-top: 20px;
      }
    }
  }
}

.contents_about02 {
  width: 100%;
  .inner {
    width: 1180px;
    margin: 120px auto;
    &::after {
      content: "";
      display: block;
      clear: both;
    }
    h2 {
      font-size: 40px;
      color: #000;
      line-height: 45px;
      padding-bottom: 20px;
      margin-bottom: 20px;
      font-weight: normal;
      border-bottom: 1px solid #000;
    }
    .wrap01 {
      float: left;
      width: calc(50% - 220px);
      margin: 0 0 0 220px;
      p {
        margin-bottom: 45px;
        line-height: 17px;
        font-size: 13px;
        color: #141414;
      }
      ul li a {
        font-size: 24px;
        color: #666;
        line-height: 70px;
        border-bottom: 2px solid #bbb;
        &:hover {
          border-bottom: 2px solid #000;
        }
      }
    }
    .wrap02 {
      float: left;
      margin-left: 88px;
      img {
        width: 100%;
        object-fit: cover;
      }
    }
    .wrap03 {
      margin-left: 220px;
      float: left;
      margin-top: 140px;
      span {
        font-size: 10px;
      }
      p {
        font-size: 50px;
        line-height: 58px;
        padding: 20px 0 46px;
      }
      a {
        font-size: 11px;
        color: #666;
        text-decoration-line: underline;
        padding-right: 8px;
      }
      i {
        font-size: 11px;
        color: #666;
      }
    }
  }
}
.contents_about03 {
  width: 100%;
  .inner {
    width: 1180px;
    margin: 120px auto;
    strong {
      font-size: 50px;
      color: #000;
      margin-left: 220px;
      font-weight: normal;
      display: block;
    }
    .contact {
      padding-top: 18px;
      margin-left: 220px;
      display: inline-block;
      font-size: 11px;
      color: #666;
      text-decoration-line: underline;
      padding-right: 8px;
    }
    i {
      font-size: 11px;
      color: #666;
    }
  }
  h2 {
    font-size: 40px;
    color: #000;
    line-height: 45px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    font-weight: normal;
    border-bottom: 1px solid #000;
  }
  .wrap01 {
    margin-left: 220px;
    p {
      font-size: 12px;
      color: #a1a1a1;
      line-height: 18px;
      letter-spacing: 1.4px;
      padding-bottom: 22px;
    }
    a {
      font-size: 11px;
      color: #666;
      text-decoration-line: underline;
      padding-right: 8px;
    }
  }
  .wrap02 {
    margin: 42px 0 140px 220px;
    height: 380px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.contents_about04 {
  width: 100%;
  .inner {
    width: 1180px;
    margin: 120px auto;
    h2 {
      font-size: 40px;
      color: #000;
      line-height: 45px;
      padding-bottom: 20px;
      margin-bottom: 20px;
      font-weight: normal;
      border-bottom: 1px solid #000;
    }
    .wrap01 {
      margin-left: 220px;
      border-bottom: 1px solid #000;
      ul {
        padding-bottom: 45px;
        li {
          float: left;
          width: 33.3%;
          padding-left: 14px;
          padding-bottom: 22px;
          a {
            display: block;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
            b {
              padding: 13px 0 9px;
              display: block;
              font-size: 11px;
              color: #595959;
            }
            p {
              font-size: 10px;
              color: #b1b1b1;
            }
          }
        }
        &::after {
          content: "";
          clear: both;
          display: block;
        }
      }
    }
    .btn_show {
      font-size: 11px;
      font-weight: bold;
      margin-left: 220px;
      color: #666;
      display: block;
      text-decoration-line: underline;
      margin-top: 20px;
    }
  }
}
.contents_about05 {
  width: 100%;
  .inner {
    width: 1180px;
    margin: 120px auto;
    h2 {
      font-size: 40px;
      color: #000;
      line-height: 45px;
      padding-bottom: 20px;
      margin-bottom: 20px;
      font-weight: normal;
      border-bottom: 1px solid #000;
    }
    .wrap04 {
      ul {
        li {
          float: left;
          padding-left: 20px;
          width: 25%;
          &:first-child {
            padding-left: 0;
          }
          a {
            width: 300px;
            height: 200px;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
            b {
              font-size: 10px;
              font-weight: bold;
            }
            p {
              font-size: 13px;
              font-weight: bold;
              padding: 18px 0 12px;
              line-height: 17px;
            }
            span {
              font-size: 12px;
              line-height: 17px;
              color: #666;
            }
          }
        }
        &::after {
          content: "";
          clear: both;
          display: block;
        }
      }
    }
  }
}
.banner {
  position: relative;
  img {
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    // padding: 250px 0;
    object-fit: cover;
    background: fixed;

    text-align: center;
    height: 500px;
  }
  .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    p {
      font: 16px/1.3 "arial";
      color: #bbb;
      text-align: center;
    }
    .btnLook {
      display: inline-block;
      margin-right: 36px;
      width: 177px;
      color: #000;
      font-size: 9px;
      background-color: #fff;
      line-height: 34px;
      height: 34px;
      border-radius: 20px;
      text-align: center;
    }
    h1 {
      font: bold 30px/1 "arial";
      color: #fff;
      text-align: center;
      margin-bottom: 30px;
    }
  }
}
.content {
  padding: 150px 0px;

  > .inner {
    width: 1180px;
    margin: 0px auto;
    min-height: 700px;

    > h2 {
      font-weight: normal;
      font-size: 86px;
      color: #000;
      padding-bottom: 20px;
      border-bottom: 3px solid #a2a2a2;
      display: inline-block;
      margin-bottom: 38px;
      margin-left: 220px;
    }

    > p {
      font-size: 20px;
      color: #494949;
      width: 30%;
      line-height: 25px;
      padding-bottom: 16px;
      margin-left: 220px;
    }
    .youtube_txt {
      font-size: 20px;
      color: #494949;
      width: 46%;
      line-height: 25px;
      padding-bottom: 16px;
      margin-left: 220px;
    }
    > span {
      display: inline-block;
      width: 35%;
      font-size: 14px;
      line-height: 18px;
      color: #acacac;
      margin-bottom: 70px;
      margin-left: 220px;
    }
    .searchBox {
      width: 100%;
      text-align: right;
      margin-bottom: 35px;
      input[type="text"] {
        border-bottom: 1px solid #555;
        border-left: none;
        border-right: none;
        border-top: none;
        height: 40px;
      }
      button {
        background: none;
        height: 40px;
        border: 1px solid #555;
        width: 60px;
        line-height: 40px;
        font-size: 12px;
        color: #555;
        margin-left: 8px;
      }
    }
    nav {
      float: left;
      ul {
        li {
          padding-bottom: 24px;
          button {
            background-color: #fff;
            font-size: 11px;
            color: #bbb;
            border: none;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1179px) {
  .visual {
    .inner {
      margin-top: 30px;
      position: static;
      top: 0;
      left: 0;
      width: 100%;
      transform: none;
      p {
        position: absolute;
        z-index: 1;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: 34px;
        margin: 60px 0;
        a {
          text-align: center;
          font-size: 38px;
        }
      }
      .visual_img {
        position: static;
        top: 0;
        left: 0;
        width: 100%;
        transform: none;
      }
    }
  }
  .contents_about {
    .inner {
      width: 100%;
      .wrap01 {
        padding: 80px 30px 0;
        .btn_see {
          margin-left: 0;
        }
        .wrap02 {
          margin-left: 0;
        }
      }
    }
  }
  .contents_about02 {
    .inner {
      width: 100%;
      padding: 0 30px 0;
      .wrap01 {
        margin: 0 0 0 0;
        width: 50%;
        .btn_see {
          margin-left: 0;
        }
      }
      .wrap02 {
        margin-left: 0;
        width: 50%;
      }
      .wrap03 {
        margin-left: 0;
        margin-top: 100px;
      }
    }
  }
  .contents_about03 {
    .inner {
      width: 100%;
      padding: 0 30px;
      .wrap01 {
        margin-left: 0;
      }
      .wrap02 {
        margin: 42px 0 140px 0;
      }
      strong {
        margin-left: 0;
      }
      .contact {
        margin-left: 0;
      }
    }
  }
  .contents_about04 {
    .inner {
      width: 100%;
      padding: 0 30px;
      .wrap01 {
        margin-left: 0;
        ul {
          li {
            width: 50%;
          }
        }
      }
      .btn_show {
        margin-left: 0;
      }
    }
  }
  .contents_about05 {
    .inner {
      width: 100%;
      padding: 0 30px;
      .wrap04 {
        ul {
          li {
            margin-bottom: 25px;
            width: calc(50% - 20px);
            &:nth-of-type(3) {
              padding-left: 0;
            }
          }
        }
      }
    }
  }
  #footer {
    width: 100%;
    padding: 100px 30px;
  }
}

@media screen and (max-width: 739px) {
  header {
    padding: 0 20px;
    .inner {
      width: 100%;
      h1 {
        a {
          font-size: 40px;
        }
      }
    }
    #gnb {
      display: none;
    }
    .btnCall {
      display: block;
    }
  }
  .contents_about02 {
    .inner {
      .wrap02 {
        img {
          width: 100%;
        }
      }
    }
  }
}
@media screen and (max-width: 500px) {
  .visual {
    .inner {
      p {
        font-size: 25px;
        margin: 0 0;
        a {
          font-size: 25px;
        }
      }
      .visual_img {
        img {
          height: 80vh;
        }
        .img_info {
          padding: 0 20px;
          em {
            font-size: 10px;
          }
          a {
            font-size: 9px;
          }
        }
      }
    }
  }
  .contents_about {
    .inner {
      margin: 0 0;
      .wrap01 {
        padding: 50px 20px 0;
        h2 {
          font-size: 25px;
        }
        article {
          float: none;
          margin-left: 0;
          width: 100%;
        }
      }
    }
  }
  .contents_about02 {
    .inner {
      margin: 0 0;
      padding: 50px 20px 0;
      h2 {
        font-size: 25px;
      }
      .wrap01 {
        float: none;
        width: 100%;
        ul {
          li {
            float: left;
            width: 50%;
            a {
              font-size: 16px;
              line-height: 40px;
            }
          }
          &::after {
            content: "";
            clear: both;
            display: block;
          }
        }
      }
      .wrap02 {
        margin-top: 30px;
        float: none;
        width: 100%;
      }
      .wrap03 {
        float: none;
        margin-top: 50px;
        p {
          font-size: 25px;
          line-height: 35px;
          padding: 15px 0 30px;
        }
      }
    }
  }
  .contents_about03 {
    .inner {
      margin: 0 auto;
      padding: 50px 20px 0;
      h2 {
        font-size: 25px;
      }
      .wrap02 {
        height: 300px;
        margin: 25px 0 80px 0;
      }
      strong {
        font-size: 25px;
      }
    }
  }
  .contents_about04 {
    .inner {
      margin: 0 auto;
      padding: 50px 20px 0;
      h2 {
        font-size: 25px;
      }
      .wrap01 {
        ul {
          li {
            width: 100%;
          }
        }
      }
    }
  }
  .contents_about05 {
    .inner {
      margin: 0 auto;
      padding: 50px 20px 0;
      h2 {
        font-size: 25px;
      }
      .wrap04 {
        ul {
          li {
            float: none;
            width: 100%;
            padding-left: 0;
            b {
              font-size: 10px;
            }
            p {
              font-size: 12px;
            }
            span {
              font-size: 15px;
            }
            a {
              display: block;
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }
}
