.community {
  .inner {
    h2 {
      font-weight: normal;
      font-size: 86px;
      color: #000;
      padding-bottom: 20px;
      border-bottom: 3px solid #a2a2a2;
      margin-bottom: 38px;
      margin-left: 0;
      display: block;
    }
    .news {
      .news_img {
        float: left;
        width: 50%;
      }
      .news_txt {
        float: left;
        width: 50%;
        padding-left: 20px;
        b {
          font-size: 11px;
          color: #9c9c9c;
        }
        strong {
          display: block;
          font-size: 22px;
          color: #2a2a2a;
          padding: 15px 0 25px;
        }
        span {
          font-size: 13px;
          color: #898989;
        }
        p {
          padding-top: 20px;
          font-size: 15px;
          color: #898989;
        }
        .btn_load {
          font-size: 11px;
          font-weight: 700;
          text-align: right;
          color: #666;
          display: block;
          text-decoration-line: underline;
          margin-top: 45px;
        }
      }
      &::after {
        content: "";
        clear: both;
        display: block;
      }
      padding-bottom: 130px;
    }
    .faq {
      span {
        font-size: 45px;
      }
      .title {
        float: left;
        width: 30%;
      }
      .answer {
        width: 70%;
        float: left;

        p {
          height: 40px;
          line-height: 40px;
          font-size: 20px;
          &::before {
            content: "";
            display: inline-block;
            clear: both;
            margin-right: 10px;
            width: 20px;
            height: 3px;
            background: #a2a2a2;
            vertical-align: middle;
          }
          &::after {
            content: "";
            display: inline-block;
            clear: both;
            width: 20px;
            height: 3px;
            background: #a2a2a2;
            transform: rotate(-90deg);
            margin-left: -206px;
            vertical-align: middle;
          }
        }
        article {
          border-top: 1px solid #bebebe;
          border-bottom: 1px solid #bebebe;
        }
      }
      &::after {
        content: "";
        clear: both;
        display: block;
      }
    }
  }
}
