.department {
  .inner {
    strong {
      font-size: 80px;
      line-height: 90px;
      font-weight: 500;
    }
    > div {
      margin-top: 48px;
      padding-top: 38px;
      border-top: 1px solid #000;
      .img_wrap {
        margin-left: 220px;
        height: 550px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      > p {
        margin: 45px 0 0 220px;
        font-size: 14px;
        line-height: 18px;
        padding-bottom: 40px;
        border-bottom: 1px solid #000;
      }
      .btn_process {
        font-size: 11px;
        font-weight: bold;
        margin-left: 220px;
        color: #666;
        display: block;
        text-decoration-line: underline;
        margin-top: 20px;
      }
      h2 {
        margin-top: 135px;
        font-size: 33px;
        font-weight: normal;
        padding-bottom: 20px;
        border-bottom: 1px solid #000;
      }
      span {
        padding-top: 20px;
        width: 37vw;
        display: block;
        font-size: 12px;
        line-height: 15px;
      }
      ul {
        margin-top: 20px;
        border-bottom: 1px solid #000;
        li {
          float: left;
          width: 33.3%;
          a {
            padding-right: 18px;
            display: block;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
            p {
              padding-top: 16px;
              padding-bottom: 40px;
              font-size: 13px;
              color: #666;
            }
          }
        }
        &::after {
          content: "";
          clear: both;
          display: block;
        }
      }
      .btn_more {
        font-size: 11px;
        font-weight: bold;
        color: #666;
        display: block;
        text-decoration-line: underline;
        margin-top: 20px;
      }
      > b {
        margin-top: 135px;
        font-weight: normal;
        font-size: 33px;
        padding-bottom: 20px;
        display: block;
      }
      table {
        width: 100%;
        margin-bottom: 30px;
        border-collapse: collapse;
        td {
          padding: 15px;
          border-bottom: 2px solid #9f9f9f;
          text-align: center;
          font-size: 11px;
          color: #333;
          a {
            color: #333;
          }
          :nth-of-type(2) {
            text-align: left;
          }
        }
        th {
          padding: 20px;
          color: #b7b7b7;
          font-size: 10px;
          border-bottom: 2px solid #c3c3c3;
          &:nth-of-type(1) {
            width: 20%;
          }
          &:nth-of-type(2) {
            width: 50%;
          }
          &:nth-of-type(3) {
            width: 30%;
          }
        }
      }
      .wrap01 {
        margin-left: 220px;
        ul {
          li {
            float: left;
            width: 33.3%;
            padding-left: 14px;
            padding-bottom: 22px;
            a {
              b {
                padding: 13px 0 9px;
                display: block;
                font-size: 11px;
                color: #595959;
              }
              p {
                font-size: 10px;
                color: #b1b1b1;
                padding-top: 0;
                padding-bottom: 0;
              }
            }
          }
        }
      }
      .btn_show {
        margin-left: 220px;
        font-size: 11px;
        font-weight: bold;
        color: #666;
        display: block;
        text-decoration-line: underline;
        margin-top: 20px;
      }
      .txt_project {
        margin-top: 140px;
        font-size: 50px;
        color: #000;
        margin-left: 220px;
        font-weight: normal;
        display: block;
      }
      .contact {
        padding-top: 18px;
        margin-left: 220px;
        display: inline-block;
        font-size: 11px;
        color: #666;
        text-decoration-line: underline;
        padding-right: 8px;
      }
    }
  }
}
