.join {
  .inner {
    h3 {
      margin-top: 50px;
      font-size: 30px;
      font-weight: normal;
      padding-bottom: 20px;
      border-bottom: 1px solid #000;
    }
    .join_box {
      position: relative;
      border-top: 1px solid #666;
      border-bottom: 1px solid #666;
      text-align: center;
      font-weight: bold;
      padding: 42px;
      margin-bottom: 40px;
      &::before {
        content: "Sign up order";
        clear: both;
        position: absolute;
        left: 0;
        top: 5px;
        font-size: 11px;
      }
    }
    form {
      .h {
        position: absolute;
        left: -99999999999%;
      }
      table,
      fieldset {
        width: 100%;
        border: none;
        th,
        td {
          border-bottom: 1px solid #ddd;
          padding: 20px 30px;
          p {
            font-size: 11px;
            color: lightcoral;
            padding-bottom: 10px;
          }
        }
        th {
          width: 25%;
          height: 65px;
          border-right: 1px solid #ddd;
          text-align: left;
          font: bold 14px/1 "arial";
          color: #555;

          &.btnSet {
            padding: 30px 0;
            border: none;
            text-align: center;
            border-right: none;

            input[type="reset"],
            input[type="submit"] {
              width: 150px;
              height: 40px;
              border: 1px solid #555;
              text-align: center;
              margin: 20px;
              cursor: pointer;
              line-height: 40px;
              background: #fff;
              transition: 0.5s;

              &:hover {
                background: #666;
                color: #fff;
              }
            }
          }
        }
        td {
          input[type="text"],
          input[type="password"],
          select {
            width: 60%;
            padding: 10px 20px;
            border: 1px solid #aaa;
          }
          label {
            font: 12px/1 "arial";
            color: #777;
            margin-right: 5px;
          }
          input[type="radio"],
          input[type="checkbox"] {
            margin-right: 20px;
          }
        }
      }
      .mem {
        .member_wrap {
          .member {
            p {
              margin-top: 35px;
              font-weight: 500;
              font-size: 21px;
              color: #000;
              padding-bottom: 18px;
            }
            textarea {
              width: 100%;
              height: 150px;
              padding: 10px 20px;
              border: 1px solid #aaa;
              color: #666;
              resize: none;
              margin-bottom: 15px;
            }
            input[type="checkbox"] {
              display: inline-block;
              margin-right: 7px;
              margin-left: 7px;
            }
            label {
              font-size: 14px;
              color: #000;
            }
          }
        }
      }

      .err {
        padding-left: 20px;
        font: 11px/1 "맑은 고딕";
        color: lightcoral;
      }
    }
    textarea {
      width: 60%;
      height: 150px;
      padding: 10px 20px;
      border: 1px solid #aaa;
      resize: none;
    }
  }
}

@media screen and (max-width: $web) {
  .join .inner table td {
    input[type="text"],
    input[type="password"],
    select {
      width: 90%;
    }
    textarea {
      width: 90%;
    }
  }
}

@media screen and (max-width: $tablet) {
  .join .inner table th {
    position: absolute;
    top: -99999px;
    opacity: 0;

    &.btnSet {
      position: relative;
      top: 0px;
      opacity: 1;
    }
  }

  .join .inner table td {
    input[type="text"],
    input[type="password"],
    select {
      width: 100%;
    }
    textarea {
      width: 100%;
    }
  }
}

@media screen and (max-width: $mobile) {
}
