#news {
  width: 100%;
  height: 100vh;
  position: relative;

  .inner {
    width: 1180px;
    margin: 0px auto;
    position: relative;

    h2 {
      text-align: center;
      margin-bottom: 80px;
    }
    .txtBox {
      width: 100%;
      height: 50vh;
      display: flex;
      justify-content: space-between;
      align-content: space-between;
      flex-wrap: wrap;
    }
    &::after {
      content: "";
      display: block;
      clear: both;
    }
    article {
      width: 32%;
      height: 48%;
      background: #fff;
      padding: 35px;
      cursor: pointer;
      margin-right: 10px;
      border: 1px solid #eee;
      h3 {
        margin-bottom: 20px;
      }
      p {
        color: #666;
        font-size: 14px;
        margin-bottom: 10px;
      }

      img {
        width: 100%;
        height: 100%;
        display: block;
      }
    }
  }
  &.on {
    .inner {
      h2 {
        animation: text_animation 0.8s ease-in-out;
      }
    }
  }
}
@media screen and (max-width: 1179px) {
  #news {
    .inner {
      width: 100%;
      margin: 0 auto;
    }
  }
}
@media screen and (max-width: 739px) {
  #news {
    .inner {
      width: 100%;
      margin: 0 auto;
      article {
        margin-bottom: 20px;
        width: 47%;
      }
      .txtBox {
        height: auto;
      }
    }
  }
}
@media screen and (max-width: 500px) {
  #news {
    .inner {
      width: 100%;
      margin: 0 auto;
      .txtBox {
        height: auto;
      }
      article {
        width: 100%;
        margin-bottom: 20px;
      }
    }
  }
}
