#you {
  width: 100%;
  height: 100vh;

  position: relative;
  padding: 150px 0px;

  .inner {
    width: 1180px;
    margin: 0px auto;
    position: relative;

    h2 {
      font-size: 40px;
      color: #000;
      line-height: 45px;
      padding-bottom: 20px;

      margin-bottom: 110px;
      font-weight: normal;
      border-bottom: 1px solid #000;
    }
    .vidBox {
      img {
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
        width: 32%;
      }
    }
  }
}
@media screen and (max-width: 1179px) {
  #you {
    .inner {
      width: 100%;
      margin: 0 auto;
      padding: 0 30px;
    }
  }
}
@media screen and (max-width: 739px) {
  #you {
    .inner {
      width: 100%;
      margin: 0 auto;
      .vidBox {
        img {
          margin-bottom: 20px;
          width: 48%;
        }
      }
    }
  }
}
@media screen and (max-width: 500px) {
  #you {
    .inner {
      padding: 50px 20px 0;
      width: 100%;
      margin: 0 auto;
      h2 {
        font-size: 25px;
      }
      .vidBox {
        img {
          width: 100%;
          margin-bottom: 20px;
        }
      }
    }
  }
}
