.youtube {
  .inner {
    .frame {
      &::after {
        content: "";
        display: block;
        clear: both;
      }
      article {
        width: 100%;
        float: left;
        padding: 15px;
        overflow: hidden;
        .inner {
          width: 100%;
          height: 100%;
          padding: 25px 0px;
          border-top: 2px solid #bebebe;

          /*
            word-break: 텍스트의 줄바꿈 속성을 지정
            - normal (한글은 한글자 기준, 영어는 단어기준으로 줄바꿈됨) default
            - break-all (한글과 영문 모두 글자기준으로 줄바꿈)
            - keep-all (한글 영어 모두 단어기준으로 줄바꿈)
          */

          .txt {
            float: left;
            width: 60%;
            h2 {
              font-size: 12px;
              color: #adadad;
              word-break: break-all;
              float: left;
              width: 50%;
            }

            p {
              width: 50%;
              font-size: 13px;
              float: left;
              color: #5e5e5e;
              word-break: keep-all;
            }
          }

          .pic {
            position: relative;
            float: left;
            width: 40%;
            overflow: hidden;
            cursor: pointer;

            img {
              width: 100%;
              height: 100%;
              opacity: 0.5;
              object-fit: cover;
              transition: 1s;
            }
            .btn_click {
              display: none;
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
              font-size: 13px;
              font-weight: bold;
              color: #fff;
              text-decoration-line: underline;
            }
            &:hover {
              .btn_click {
                display: block;
              }
              img {
                opacity: 1;
              }
            }
          }
          &::after {
            content: "";
            clear: both;
            display: block;
          }
        }
        .btn_show {
          font-size: 11px;
          font-weight: bold;
          margin-left: 30%;
          color: #666;
          display: block;
          text-decoration-line: underline;
          margin-top: 20px;
        }
        &:last-child {
          border-bottom: 2px solid #bebebe;
        }
      }
    }

    .pop {
      width: 100%;
      height: 100vh;
      position: fixed;
      top: 0px;
      left: 0px;
      background: rgba(0, 0, 0, 0.9);
      padding: 5vw;

      iframe {
        border: none;
        width: 100%;
        height: 100%;
      }

      span {
        position: absolute;
        top: 3vw;
        right: 5vw;
        font: bold 14px/1 "arial";
        color: #fff;
        cursor: pointer;
      }
    }
  }
  .btn_wrap {
    width: 1180px;
    margin: 0 auto;
    text-align: center;
    margin-top: 45px;

    .btn_more {
      font-size: 11px;
      color: #555;
      background: none;
      border: 1px solid #bebebe;
      height: 40px;

      width: 90px;
    }
  }
}
@media screen and (max-width: 1179px) {
  .youtube {
    .btn_wrap {
      width: 100%;
    }
  }
}
@media screen and (max-width: 739px) {
  .youtube {
    .inner {
      .youtube_txt {
        width: 100%;
      }
      .frame {
        article {
          .btn_show {
            margin-left: 0;
          }
          .inner {
            .txt {
              h2 {
                float: none;
                width: 100%;
              }
              p {
                width: 100%;
              }
            }
          }
        }
      }
      h2 {
        font-size: 70px;
        margin-left: 0;
        width: 100%;
      }
      .youtube_txt {
        margin-left: 0;
      }
    }
    .btn_wrap {
      width: 100%;
    }
  }
}
@media screen and (max-width: 500px) {
  .youtube {
    .inner {
      h2 {
        font-size: 40px;
      }
      .youtube_txt {
        font-size: 15px;
        line-height: 20px;
      }
      span {
        font-size: 12px;
        margin-bottom: 35px;
      }
      .frame {
        article {
          .inner {
            .pic {
              float: none;
              width: 100%;
            }
            .txt {
              h2 {
                padding-bottom: 10px;
              }
              p {
                margin-bottom: 20px;
              }
            }
          }
          .btn_show {
            margin-top: 0;
          }
        }
      }
    }
    .btn_wrap {
      width: 100%;
    }
  }
}
