.swiper {
  overflow-y: hidden;

  .swiper-slide {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10vw;
    color: #fff;
  }
  .swiper-pagination {
    position: inherit;
    bottom: 9px;
  }
}
