@charset "UTF-8";
@import "reset";

@import "common/header";
@import "common/footer";
@import "common/layout";

//sub

@import "sub/gallery";
@import "sub/community";
@import "sub/department";
@import "sub/youtube";
