@charset "UTF-8";
$web: 1179px;
$tablet: 739px;
$mobile: 500px;
@import "reset";

@import "common/header";
@import "common/footer";
@import "common/layout";

//sub

@import "sub/gallery";
@import "sub/community";
@import "sub/department";
@import "sub/youtube";
@import "sub/join";
@import "sub/loaction";
@import "sub/btns";
@import "sub/info";
@import "sub/intro";
@import "sub/you";
@import "sub/news";
@import "sub/visual";
